<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Podcast Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="assets/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="assets/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="assets/images/favicon.ico" />
  </head>
  <body>
    <div class="container-scroller">
      <!-- partial:partials/_navbar.html -->
      <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
          <a class="navbar-brand brand-logo" href="index.html"><img src="assets/images/logo.svg" alt="logo" /></a>
          <a class="navbar-brand brand-logo-mini" href="index.html"><img src="assets/images/logo-mini.svg" alt="logo" /></a>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-stretch">
          <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
            <span class="mdi mdi-menu"></span>
          </button>
          <div class="search-field d-none d-md-block">
            <form class="d-flex align-items-center h-100" action="#">
              <div class="input-group">
                <div class="input-group-prepend bg-transparent">
                  <i class="input-group-text border-0 mdi mdi-magnify"></i>
                </div>
                <input type="text" class="form-control bg-transparent border-0" placeholder="Search projects">
              </div>
            </form>
          </div>
          <ul class="navbar-nav navbar-nav-right">
            
            
            <li class="nav-item dropdown">
              <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#" data-toggle="dropdown">
                <i class="mdi mdi-bell-outline"></i>
                <span class="count-symbol bg-danger"></span>
              </a>
              <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="notificationDropdown">
                <h6 class="p-3 mb-0">Notifications</h6>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <div class="preview-icon bg-success">
                      <i class="mdi mdi-calendar"></i>
                    </div>
                  </div>
                  <div class="preview-item-content d-flex align-items-start flex-column justify-content-center">
                    <h6 class="preview-subject font-weight-normal mb-1">Event today</h6>
                    <p class="text-gray ellipsis mb-0"> Just a reminder that you have an event today </p>
                  </div>
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <div class="preview-icon bg-warning">
                      <i class="mdi mdi-settings"></i>
                    </div>
                  </div>
                  <div class="preview-item-content d-flex align-items-start flex-column justify-content-center">
                    <h6 class="preview-subject font-weight-normal mb-1">Settings</h6>
                    <p class="text-gray ellipsis mb-0"> Update dashboard </p>
                  </div>
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <div class="preview-icon bg-info">
                      <i class="mdi mdi-link-variant"></i>
                    </div>
                  </div>
                  <div class="preview-item-content d-flex align-items-start flex-column justify-content-center">
                    <h6 class="preview-subject font-weight-normal mb-1">Launch Admin</h6>
                    <p class="text-gray ellipsis mb-0"> New admin wow! </p>
                  </div>
                </a>
                <div class="dropdown-divider"></div>
                <h6 class="p-3 mb-0 text-center">See all notifications</h6>
              </div>
            </li>
            <li class="nav-item nav-logout d-none d-lg-block">
              <a class="nav-link" href="#">
                <i class="mdi mdi-power"></i>
              </a>
            </li>
            <li class="nav-item nav-settings d-none d-lg-block">
              <a class="nav-link" href="#">
                <i class="mdi mdi-format-line-spacing"></i>
              </a>
            </li>
          </ul>
          <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
            <span class="mdi mdi-menu"></span>
          </button>
        </div>
      </nav>
     <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
          <ul class="nav">
            
            <li class="nav-item">
              <a class="nav-link" th:href="@{/}">
                <span class="menu-title">Dashboard</span>
                <i class="mdi mdi-home menu-icon"></i>
              </a>
            </li>
 		<li class="nav-item">
              <a class="nav-link" th:href="@{/trending}">
                <span class="menu-title">Trending/Views</span>
                <i class="mdi mdi-opacity menu-icon"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                <span class="menu-title">Slider</span>
                <i class="menu-arrow"></i>
                <i class="mdi mdi-view-list"></i>
              </a>
              <div class="collapse" id="ui-basic">
                <ul class="nav flex-column sub-menu">
                  <li class="nav-item"> <a class="nav-link" th:href="@{/addslider}">Add Slider</a></li>
                  <li class="nav-item"> <a class="nav-link" th:href="@{/listslider}">List Slider</a></li>
                </ul>
              </div>
            </li>
           
         
            <li class="nav-item">
              <a class="nav-link" th:href="@{/userlist}">
                <span class="menu-title">User</span>
                <i class="mdi mdi-chart-bar menu-icon"></i>
              </a>
            </li>
         
            <li class="nav-item">
              <a class="nav-link" data-toggle="collapse" href="#general-pages" aria-expanded="false" aria-controls="general-pages">
                <span class="menu-title">CMS Control</span>
                <i class="menu-arrow"></i>
                <i class="mdi mdi-medical-bag menu-icon"></i>
              </a>
              <div class="collapse" id="general-pages">
                <ul class="nav flex-column sub-menu">
                  <li class="nav-item"> <a class="nav-link" th:href="@{/addcontent}"> Add Content </a></li>
                  <li class="nav-item"> <a class="nav-link" th:href="@{/listcontent}"> List Content</a></li>
                  <li class="nav-item"> <a class="nav-link" th:href="@{/publishvideolist}"> Publish Content </a></li>
                  <li class="nav-item"> <a class="nav-link" th:href="@{/addsub}"> User Subcription </a></li>
                 
                </ul>
              </div>
            </li>
            
          </ul>
              </nav>
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            
            <div class="page-header">
              <h3 class="page-title">
                <span class="page-title-icon bg-gradient-primary text-white mr-2">
                  <i class="mdi mdi-home"></i>
                </span> Add Content
              </h3>
              <nav aria-label="breadcrumb">
                <ul class="breadcrumb">
                  <li class="breadcrumb-item active" aria-current="page">
                    <span></span>Overview <i class="mdi mdi-alert-circle-outline icon-sm text-primary align-middle"></i>
                  </li>
                </ul>
              </nav>
            </div>
            <div class="col-12">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Video</h4>
                    <form class="form-sample" method="post" th:action="@{/addrowVideo}" th:object="${rowVideo}">
                      <p class="card-description"> Video Info Details </p>
                 
					<div class="form-group row">
						<label for="title" class="Presetcol-sm-3 col-form-label">Title</label>
						<div class="col-sm-9">
							<input type="text" class="form-control form-control-sm" id="name"
								name="name" th:field="${rowVideo.title}"
								placeholder="Title" th:errorclass="is-invalid">
							<div th:if="${#fields.hasErrors('title')}"
								class="invalid-feedback" th:errors="*{title}"></div>
						</div>
					</div>
					<br>
					<div class="form-group row">
						<label for="description" class="Presetcol-sm-3 col-form-label">Description</label>
						<div class="col-sm-9">
							<input type="text" class="form-control form-control-sm"
								id="description" name="description" th:field="${rowVideo.description}"
								placeholder="Description" th:errorclass="is-invalid">
							<div th:if="${#fields.hasErrors('description')}"
								class="invalid-feedback" th:errors="*{description}"></div>
						</div>
					</div>
					
					<div class="form-group row">
						<label for="vdoUrl" class="Presetcol-sm-3 col-form-label">Main Video Url</label>
						<div class="col-sm-9">
							<input type="text" class="form-control form-control-sm"
								id="vdoUrl" name="description" th:field="${rowVideo.vdoUrl}"
								placeholder="Description" th:errorclass="is-invalid">
							<div th:if="${#fields.hasErrors('vdoUrl')}"
								class="invalid-feedback" th:errors="*{vdoUrl}"></div>
						</div>
					</div>
				
					
					<div class="form-group row">
						<label for="thumbs" class="Presetcol-sm-3 col-form-label">Main Video Thumbnail</label>
						<div class="col-sm-9">
							<input type="text" class="form-control form-control-sm"
								id="thumbs" name="thumbs" th:field="${rowVideo.thumbs}"
								placeholder="thumbs" th:errorclass="is-invalid">
							<div th:if="${#fields.hasErrors('thumbs')}"
								class="invalid-feedback" th:errors="*{thumbs}"></div>
						</div>
					</div>
				
					<!-- <div class="form-group row">
						<label for="lang" class="Presetcol-sm-3 col-form-label">Language</label>
						<div class="col-sm-9">
							<select class="form-control form-control-sm"
									th:name="videoType"
									th:field="${rowVideo.lang}"
									th:errorclass="is-invalid">
										<option selected="selected" readonly value="" >Select
											an option</option>
										<option value="English">English</option>
										<option value="Hindi">Hindi</option>
										<option value="Tamil">Tamil</option>
										<option value="Telugu">Telegu</option>
										<option value="Kannada">Kannada</option>
										<option value="Malayalam">Malayalam</option>
										<option value="Gujrati">Gujrati</option>
										<option value="Rajastani">Rajastani</option>
										<option value="Haryanavi">Haryanavi</option>
										<option value="Punjabi">Punjabi</option>
										<option value="Bengali">Bengali</option>
										<option value="Odia">Odia</option>
										<option value="Assames">Assames</option>
										<option value="Bhojpuri">Bhojpuri</option>
								</select>
							<div th:if="${#fields.hasErrors('lang')}"
								class="invalid-feedback" th:errors="*{lang}"></div>
						</div>
					</div> -->
					<div class="form-group row">
						<label for="thumbs" class="Presetcol-sm-3 col-form-label">Category</label>
						<div class="col-sm-9">
							<select  class="form-control form-control-sm" id="peerType" name="peerType" th:field="${rowVideo.peerType}">
<option th:each="category : ${dash}" th:value="${category}" th:utext="${category.peer}"/>
</select>
							<div th:if="${#fields.hasErrors('thumbs')}"
								class="invalid-feedback" th:errors="*{thumbs}"></div>
						</div>
					</div>
					
				
					
            <!--    <div class="form-group row">
               
                    <h4 class="card-title">Cast Details</h4>
                    <br>
                     <button type="button" class="btn btn-gradient-primary btn-icon-text">
                            <i class="mdi mdi-format-annotation-plus btn-icon-prepend"></i> Add More </button>
                     <button type="button" name="removeContact"
                      class="btn btn-sm btn-outline-danger" 
                      data-update-contacts-url="/addMore"> <i class="fas fa-trash"></i> </button>
                      <br>
                     <tbody id="tblContacts">
					 <tr th:fragment="contacts" th:each="contact,rowStat : ${rowVideo.casts}"> 
					 <td th:text="${rowStat.count}">1</td>
					  <td><input type="hidden" th:field="${rowVideo.casts[__${rowStat.index}__].id}">
 
					      <label class="sr-only" for="inlineFormInputName2">Name</label>
                      <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName1" placeholder="Jane Doe" th:field="${rowVideo.casts[__${rowStat.index}__].name}">
					    <div th:if="${#fields.hasErrors('${rowVideo.casts[__${rowStat.index}__].name}')}" class="invalid-feedback"
					     th:errors="${rowVideo.casts[__${rowStat.index}__].name}"></div>
					     </td> <td> <label class="sr-only" for="inlineFormInputName2">Image Url</label>
                      <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="https://imag.jpg" th:field="${rowVideo.casts[__${rowStat.index}__].imageUrl}">

					      <div th:if="${#fields.hasErrors('${rowVideo.casts[__${rowStat.index}__].imageUrl}')}" 
					      class="invalid-feedback" th:errors="${rowVideo.casts[__${rowStat.index}__].imageUrl}">
					      </div> </td>  </tr> </tbody>
                 
                  
                </div> -->
              
                
                 <p class="card-description"> Cast </p>
            <tbody id="tblContacts">
					 <tr th:fragment="contacts" th:each="contact,rowStat : ${rowVideo.casts}"> 
					 <td th:text="${rowStat.count}">1</td>
					  
                      <div class="row">
                      <td>
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Name</label>
                            <div class="col-sm-9">
                             <!--  <input type="text" class="form-control" /> -->
                                <input type="text" class="form-control" id="inlineFormInputName1" placeholder="Jane Doe" th:field="${rowVideo.casts[__${rowStat.index}__].name}">
                            </div>
                                                
                          </div>
                        </div>
                         </td> <td>
                        <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Image Url</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="inlineFormInputName2" placeholder="https://imag.jpg" th:field="${rowVideo.casts[__${rowStat.index}__].imageUrl}">
                              
                            </div>           
                          </div>
                        </div>
                        </td> 
                      </div>
                       </tr> </tbody>
           <button type="submit" class="btn btn-gradient-primary btn-icon-text" value="addmorecast" >
                         <a th:herf="@{/addmoreCast}" th:object="${rowVideo}"><i class="mdi mdi-file-check btn-icon-prepend" >Add More Cast</i></a></button>   
           <br>
					<div class="form-group row">
						<label for="genres" class="Presetcol-sm-3 col-form-label">Genre</label>
						<div class="col-sm-9">
						<select class="form-control form-control-sm"
									th:name="videoType"
									th:field="${rowVideo.genres}"
									th:errorclass="is-invalid" multiple="multiple">
										<option selected="selected" readonly value="">Select
											an option</option>
										<option value="Romance">Romance</option>
										<option value="Comedy">Comedy</option>
										<option value="U">U</option>
										<option value="A">A</option>
										<option value="Horror">Horror</option>
										<option value="Family">Family</option>
										<option value="Youth">Youth</option>
										<option value="Biography">Biography</option>
										<option value="Drama">Drama</option>
										<option value="Dance">Dance</option>
										<option value="Mythological">Mythological</option>
									
								</select>
							<div th:if="${#fields.hasErrors('genres')}"
								class="invalid-feedback" th:errors="*{genres}"></div>
						</div>
					</div>
				 <button type="submit" class="btn btn-gradient-primary mr-2" value="ad">Submit</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
           
           
            
             
          <!-- content-wrapper ends -->
          <!-- partial:partials/_footer.html -->
          <footer class="footer">
            <div class="container-fluid clearfix">
              <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © OTTAdmin.com 2020</span>
              <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> Free <a href="https://www.bootstrapdash.com/bootstrap-admin-template/" target="_blank">OTTAdmin templates </a> from ottadmin.com</span>
            </div>
          </footer>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="assets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="assets/vendors/chart.js/Chart.min.js"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="assets/js/off-canvas.js"></script>
    <script src="assets/js/hoverable-collapse.js"></script>
    <script src="assets/js/misc.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="assets/js/dashboard.js"></script>
    <script src="assets/js/todolist.js"></script>
    <!-- End custom js for this page -->
  </body>
</html>